@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import url("https://use.typekit.net/tzo8iiv.css");

body {
  font-family: "sans-serif", sans-serif;
}

:root {
  /* globals */
  --point: #004785;
}

.dark {
  /* globals */
  --point: #004785;
}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@theme {
  --color-point: var(--point);
}
